@use 'index'  

#form-page
  margin: 0px
  padding: 10px
  display: flex
  width: 100vw
  height: 100vh
  justify-content: center
  align-items: center
  box-sizing: border-box
  align-items: center
  font-family: index.$font-regular
  background-color: index.$magnolia

  #popover
    background-color: index.$light-background-color
    width: 60%
    height: 70%
    border-radius: 15px
    padding: 10px
    box-sizing: border-box
    display: flex
    justify-content: space-between
    align-items: center
